.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-border {
	clear: both;
	content: "";
	display: table;
  border-style: solid;
  border-width: .6vmin;
  border-radius: .5vmin;
}

.status {
  margin-bottom: 10px;
}

.board-bottom {
	clear: both;
	content: "";
	display: table;
  border-bottom: .4vmin solid;
}

.board-right {
	clear: both;
	content: "";
	display: table;
  border-right: .4vmin solid ;
}